
#container {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 700px;
    width: 900px;
}

#scoreboard {
    height: 100px;
}

#gameboard {
    height: 600px;
    width: 900px;
    border: solid rgb(121, 235, 247);
    position: relative;
}

#ball {
    height: 20px;
    width: 20px;
    border-radius: 20px;
    background-color: rgb(247, 94, 247);
    position: absolute;
}

#vertical-line {
    border-left: solid rgb(121, 235, 247);
    height: 600px;
    margin-left: 450px;
    position: absolute;
}

#paddle1 {
    width: 15px;
    height: 70px;
    background-color: rgb(255, 162, 62);
    position: absolute;
    left: 10px;
    top: 10px;
}

#paddle2 {
    width: 15px;
    height: 70px;
    background-color: rgb(255, 162, 62);
    position: absolute;
    right: 10px;
    top: 10px;
    
}

.player1 {
    float: left;
}

.player2 {
    float: right;
}

h1 {
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 30px;
}