
body {
    text-align: center;
}
#container {
    margin: auto;
    height: 700px;
    width: 900px;
}

#scoreboard {
    height: 100px;
}

#start {
    margin: autol
    
}

#gameboard {
    height: 600px;
    width: 900px;
    border: solid rgb(121, 235, 247);
    position: relative;
}

#ball {
    height: 20px;
    width: 20px;
    border-radius: 50px;
    background-color: rgb(247, 94, 247);
    left: 442px;
    top: 100px; 
    position: absolute;
    
}

#vertical-line {
    border-left: solid rgb(121, 235, 247);
    height: 600px;
    margin-left: 450px;
    position: absolute;
}

.paddle {
    width: 15px;
    height: 100px;
    background-color: rgb(255, 162, 62);
    position: absolute;
    top: 250px;
}

#paddle1 {
    left: 10px;
}

#paddle2 {
    right: 10px;
    
}

.player1 {
    float: left;
}

.player2 {
    float: right;
}

h1 {
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 30px;
}